* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .3s ease;
}

.MuiCardContent-root a:hover {
  color: #1976d2;
}

.comments .Mui-disabled {
  background-color: white;
  opacity: 1;
  pointer-events: auto;
}

.comments .MuiButtonBase-root {
  user-select: auto;
}

.comments .Mui-disabled + .MuiCollapse-root {
  height: 0 !important;
}

.comments .Mui-disabled .Mui-expanded {
  margin: 12px 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
